body {
    background-repeat: no-repeat;
    background-image: url("https://i.imgur.com/nA53oqb.jpeg");
    background-size: cover;
}

#Logo {
    height: 20px;
    width: 20PX;
}

.itens {
    list-style: none;
    text-decoration: none;
}