body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ffeac3, #f0cda2, #ffbf71);
}

::-webkit-scrollbar { 
    display: none; 
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #3f2215;
    justify-content: space-around;
    height: 130px;
}

#logo{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 120px;
    width: 120px;
}

#imglogo{
    width: 250px;
    height: auto;
    margin: 0;
}

.itens{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    gap: 40px;
}

.menus{
    text-decoration: none;
    font-size:30px;
    color: #f2a84b;
    margin-left: 40px;
    font-family:"Momo Trust Display", sans-serif;
}

.sec1{
    background-image: url(Img1Section.jpg);
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    height: 81vh;                
    width: 100%;                  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;    
    font-family: 'Poppins', sans-serif;
    position: relative;
}

#PAG1{
    display: flex;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
}

#tituloPAG1{
    font-size: 70px;
    margin: 30px; 
    font-style: italic;
}


#titulo1pag2{
    font-size: 30px;
    text-align: center;
    font-family: 'Momo Trust Display', sans-serif;
    margin-top: 50px;
}

.txtpag2{
    font-size: 30px;
    margin-left: 25px;
    margin-right: 25px;
    font-style: italic;
}

.titulopag2{
    font-size: 30px;
    text-align: center;
    font-family: 'Momo Trust Display', sans-serif;
    margin-top: 120px;
}
footer{
    background-color: #3f2215;
    color: #f2a84b;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}