html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(45deg, #ffeac3, #f0cda2, #ffbf71);
}

::-webkit-scrollbar { 
    display: none; 
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #3f2215;
    justify-content: space-around;
    height: 100px;
}

#logo{
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 120px;
    width: 120px;
}

#imglogo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.itens{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    gap: 40px;
}

.menus{
    text-decoration: none;
    font-size:20px;
    color: #f2a84b;
    margin-left: 40px;
    font-family:"Momo Trust Display", sans-serif;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.menus::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffd18a;
    transition: width 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menus:hover::after {
    width: 100%;
}

.sec1{
    background-image: url('imgs site/Img1Section.jpg');
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    height: 81vh;                
    width: 100%;                  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;    
    font-family: 'Poppins', sans-serif;
    position: relative;
}

#PAG1{
    display: flex;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
}

#tituloPAG1{
    font-size: 58px;
    margin: 30px; 
    font-style: italic;
}


#titulo1pag2{
    font-size: 30px;
    text-align: center;
    font-family: 'Momo Trust Display', sans-serif;
    margin-top: 50px;
}

.txtpag2{
    font-size: 28px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: raleway, sans-serif;
    letter-spacing: 0.6px;
}

.titulopag2{
    font-size: 30px;
    text-align: center;
    font-family: 'Momo Trust Display', sans-serif;
    margin-top: 120px;
}



#apresentaçãomenu h1 {
    padding: 25px;
    font-size: 22px;
    color: #3f2215;
    font-family: 'Momo Trust Display', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 110px;
}

footer{
    background-color: #3f2215;
    color: #f2a84b;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

#comidatxt{
    font-family: 'Momo Trust Display', sans-serif;
    text-align: center;
    margin: 50px auto 20px; 
    font-size: 48px;
    color: #3f2215;
    display: table; 
    padding-bottom: 2px; 
    border-bottom: 2px solid #3f2215;
    margin-bottom: 40px;
}

.pratos-principais{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 160px;
}

.prato{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pratos-principais .prato{
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 12px;
    padding: 10px;
}

.pratos-principais .prato img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.texto-prato{
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
    line-height: 1.4;
    font-style: italic;
}

#bebidastxt{
    font-family: 'Momo Trust Display', sans-serif;
    text-align: center;
    margin: 50px auto 20px; 
    font-size: 48px;
    color: #3f2215;
    display: table; 
    padding-bottom: 2px; 
    border-bottom: 2px solid #3f2215;
    margin-top: 100px;
    margin-bottom: 40px;
}

.bebidas-principais{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.drinks{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bebidas-principais .drinks{
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 12px;
    padding: 10px;
}

.bebidas-principais .drinks img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.texto-bebida{
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
    line-height: 1.4;
    font-style: italic;
}

.prato img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.drinks img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}