html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(45deg, #ffeac3, #f0cda2, #ffbf71);
}

::-webkit-scrollbar { 
    display: none; 
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #3f2215;
    justify-content: space-around;
    height: 100px;
}

footer{
    background-color: #3f2215;
    color: #f2a84b;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

#logo{
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 120px;
    width: 120px;
}

#imglogo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.itens{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    gap: 40px;
}

.menus{
    text-decoration: none;
    font-size:19px;
    color: #f2a84b;
    margin-left: 40px;
    font-family:"Momo Trust Display", sans-serif;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.menus::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffd18a;
    transition: width 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menus:hover::after {
    width: 100%;
}

.sec1{
    background-image: url('imgs site/Img1Section.jpg');
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    height: 88vh;                
    width: 100%;                  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;    
    font-family: 'Poppins', sans-serif;
    position: relative;
}

#tituloPAG1{
    font-size: 58px;
    margin: 30px; 
    font-style: italic;
}

#PAG1{
    display: flex;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
}

.sec2{
    margin-top: 25px;
    margin-bottom: 415px;
    height: 12vh;
    width: 100%;
}

#pag2{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: white;
    padding-bottom: 20px;
}

#pag2 img{
    margin-top: 30px;
    height: 450px;
    width: 700px;
}

#hrFuncionamento h1{
    margin-right: 320px;
    color: #3f2215;
    font-family: "Momo Trust Display", sans-serif;
    border-bottom:2px solid #3f2215;
    display: inline-block;
    margin-bottom: 10px;
}

#hrFuncionamento h3{
    font-style: italic;
    margin-top: 0;
    text-align: justify;
    margin-bottom: 8px;
}

#titulo1pag2{
    font-size: 35px;
    text-align: center;
    font-family: 'Momo Trust Display', sans-serif;
    margin-top: 80px;
}

.txtpag2{
    font-size: 28px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: raleway, sans-serif;
    letter-spacing: 0.6px;
    text-align: justify;
}

.titulopag2{
    font-size: 35px;
    text-align: center;
    font-family: 'Momo Trust Display', sans-serif;
    margin-top: 95px;
}

.sec1pag2{
    margin-bottom: 100px;
}

#apresentaçãomenu h1 {
    padding: 25px;
    font-size: 22px;
    color: #3f2215;
    font-family: 'Momo Trust Display', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 110px;
}

#comidatxt{
    font-family: 'Momo Trust Display', sans-serif;
    text-align: center;
    margin: 50px auto 20px; 
    font-size: 48px;
    color: #3f2215;
    display: table; 
    padding-bottom: 2px; 
    border-bottom: 2px solid #3f2215;
    margin-bottom: 40px;
}

.pratos-principais{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 160px;
}

.prato{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pratos-principais .prato{
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 12px;
    padding: 10px;
}

.pratos-principais .prato img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.texto-prato{
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
    line-height: 1.4;
    font-style: italic;
}

#bebidastxt{
    font-family: 'Momo Trust Display', sans-serif;
    text-align: center;
    margin: 50px auto 20px; 
    font-size: 48px;
    color: #3f2215;
    display: table; 
    padding-bottom: 2px; 
    border-bottom: 2px solid #3f2215;
    margin-top: 100px;
    margin-bottom: 40px;
}

.bebidas-principais{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.drinks{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bebidas-principais .drinks{
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 12px;
    padding: 10px;
}

.bebidas-principais .drinks img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.texto-bebida{
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
    line-height: 1.4;
    font-style: italic;
}

.prato img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.drinks img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


/* formulario (começo) */
.conteiner{
    width: 1100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.header{
    margin-left: 41%;
    margin-bottom: 20px;
}

.header h2{
    margin: 0;
    color: #3f2215;
    font-family: 'Momo Trust Display', sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    font-family: poppins, sans-serif;
}

.forms{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.forms label{
    margin-bottom: 3px;
    font-weight: bold;
    color: #3f2215;
    margin-left: 37px;
}

.forms input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #3f2215;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-left: 37px;
}

.form button{
    padding: 10px;
    background-color: #3f2215;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    margin: auto;
    margin-top: 30px;
}

.msgError{
    color: red;
    margin: 2px 0 0 1px;
    font-size: 12px;
    text-align: start;
    display: none;
    margin-left: 37px;
}

.msgValidade{
    color: green;
    margin: 2px 0 0 1px;
    font-size: 12px;
    text-align: start;
    display: none;
    margin-left: 37px;
}